@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colours */
:root {
    --bg-primary: oklch(100% 0 0);
    --bg-sidebar: oklch(98% 0 0);
    --bg-header: oklch(92% 0 0 / 50%);
    --bg-badge: oklch(93% 0 0);
    --bg-modal: oklch(100% 0 0);
    --bg-note: oklch(99.5% 0 0);

    --border-sidebar: oklch(96% 0 0);
    --border-header: oklch(87% 0 0 / 50%);
    --border-badge: oklch(88% 0 0);
    --border-modal: oklch(92% 0 0);
    --border-dark: oklch(80% 0 0);
    --border-note: oklch(97% 0 0);

    --font-sharp: oklch(5% 0 0);
    --font-medium: oklch(25% 0 0);
    --font-light: oklch(75% 0 0);
    --font-muted: oklch(40% 0 0);

    --depth-basic: drop-shadow(2px 2px 2px oklch(0% 0 0 / 10%));
}
body.dark {
    --bg-primary: oklch(10% 0 0);
    --bg-sidebar: oklch(5% 0 0);
    --bg-header: oklch(0% 0 0);
}

/* Typography */
.h1, .h2, .h3, .h4 {
    font-family: 'Karla', 'Trebuchet MS', 'Avenir Next', 'Segoe UI', sans-serif;
}
.h1 {
    font-size: 2rem;
    color: var(--font-sharp);
    font-weight: 800;
}
.h2 {
    font-size: 1.5rem;
    color: var(--font-medium);
    font-weight: 700;
}
.h3 {
    font-size: 1.25rem;
    color: var(--font-medium);
    font-weight: 600;
}
.h4 {
    font-size: 1.125rem;
    color: var(--font-medium);
    font-weight: 500;
}

p, .p {
    font-size: 1rem;
    font-family: 'Nunito', 'Calibri', 'Avenir', 'Helvetica Neue', sans-serif;
}

/* Elements */
body {
    background-color: var(--bg-primary);
    display: grid;
    grid-template: 60px 1fr / 300px 1fr;
    width: 100vw;
    height: 100vh;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / span 1;
    background-color: var(--bg-header);
    border-bottom: 2px solid var(--border-header);
}

.sidebar {
    grid-column-start: 1;
    grid-row: 2 / span 1;
    background-color: var(--bg-sidebar);
    border-right: 2px solid var(--border-sidebar);
}
.static-title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: oklch(97% 0 0);
    border-bottom: 2px solid oklch(96% 0 0);
}
.button {
    background-color: var(--bg-badge);
    letter-spacing: 0.25rem;
    padding: 0.1rem 0.25rem;
    border-radius: 5px;
    border: 1.5px solid var(--border-badge);
}
.button.squarify, .invis-button.squarify {
    --button-size: 1.5rem;
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    text-align: center;
    letter-spacing: normal;
}
.invis-button {
    background-color: transparent;
    border: none;
    visibility: hidden;
}
.invis-button.p {
    color: var(--font-light);
}

.popup-button{
    position: relative;
}
.modal {
    display: none;
    position: absolute;
    top: -5px;
    left: calc(100% + 10px);
    background-color: var(--bg-modal);
    border: 1.5px solid var(--border-modal);
    border-radius: 10px;
    width: 300px;
    filter: var(--depth-basic);
}
.modal.visible {
    display: block;
}
.modal .modal-title {
    width: 100%;
    text-align: center;
    padding: 0.25rem;
    border-bottom: 1.5px solid var(--border-modal);
}
.modal .modal-content {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form .form-section * {
    display: block;
}
form input {
    border: 1px solid var(--border-badge);
    background-color: var(--bg-sidebar);
    border-radius: 5px;
    padding: 0.1rem 0.75rem;
    width: 100%;
}
form input:focus {
    outline: 1px solid var(--border-dark);
}
form .button {
    margin-top: 10px;
    width: 10rem;
}
.submission-section {
    display: flex;
    justify-content: end;
}
.sidebar .directories-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
}
.sidebar .directories-container .directory-container {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--border-modal);
    background-color: transparent;
    text-align: left;
}
.sidebar .directories-container .directory-container:hover {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--border-modal);
    background-color: var(--bg-note);
}
.sidebar .directories-container .directory-container.selected {
    background-color: var(--bg-note);
    box-shadow: inset 0 0 3px oklch(0 0 0 / 10%), 1px 1px 3px oklch(0 0 0 / 10%);

}
.directory-container p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    color: var(--font-muted);
}
.directory-container:hover p {
    -webkit-line-clamp: none;
}
.directory-container.selected p {
    -webkit-line-clamp: none;
}

.content {
    padding: 20px 20px;
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    overflow-x: auto;
    scrollbar-color: grey transparent;
}

.note {
    background-color: var(--bg-note);
    width: 300px;
    flex-shrink: 0;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.5px solid var(--border-note);
}
.notespace {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 0;
    gap: 0.5rem;
}
.note-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
}
.note-component input[type="checkbox"] {
    appearance: none;
    width: 1.125rem;
    height: 1.125rem;
    border: 1px solid var(--border-badge);
    border-radius: 2px;
}
.note-component input[type="checkbox"]:checked {
    background-color: oklch(71.24% 0.1383 21.103);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.note-component p {
    flex: 1;
}
.note-component.new {
    background-color: #fff;
    border: 1px solid var(--border-note);
    border-radius: 5px;
    padding: 0.35rem 0.5rem;
}
.note-component.new.h3 {
    margin: -5px -7px 0 -7px;
}
.note-component input[type="text"] {
    border: none;
    flex: 1;
    background-color: none;
}
.note-component input[type="text"]:focus {
    outline: none;
}
input[type="text"]:focus + .invis-button {
    visibility: visible;
}
.note-component:hover .invis-button.cross {
    visibility: visible;
}
.note-component input[type="checkbox"]:checked + p {
    text-decoration: line-through;
}
.new {
    order: 1;
}